<!DOCTYPE html>
<head>
    <%- include('./partials/head.ejs')%>
</head>

<body class="bg-secondary bg-gradient bg-opacity-50 vh-100">
    <h1 class="text-center m-3">
        Guitarras
    </h1>
    <div class="d-flex flex-column" style="place-items: center">
        <% result.forEach((prod)=> { %>
            <div class=" d-flex m-1 p-2 justify-content-center w-50 bg-light border border-5 rounded"
                style="place-items: center">
                <div class="d-flex flex-column mx-4 w-75">
                    <h5>Id: <%= prod.id %>
                    </h5>
                    <h2>Guitarra:
                        <%= prod.title %>
                    </h2>
                    <h4>Precio:
                        <%= prod.price %> ARS
                    </h4>
                </div>
                <div class="w-50 bg-light d-flex" , style="place-content: center">
                    <img src="<%=prod.thumbail %>" alt= <%= prod.title %> style="max-width: 13em; max-height: 13em;
                        object-fit: contain">
                </div>
            </div>
            <% }) %>
                <button>
                    <a href="../"><b>Inicio</b></a>
                </button>
    </div>
</body>